<h3><strong>アンフォローリスト</strong></h3>
<p class="text-muted">自動アンフォローするアカウントのリストの確認と追加を行います。</p><br>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Twitter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Facebook</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Instagram</a>
  </li>
</ul>
<div class="card">
  <div class="card-header">
    <strong>アンフォローリスト追加</strong>
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-6">
          <select class="custom-select" id="addoption">
            <option selected>アンフォローリスト追加方法</option>
            <option value="1">フォローバックされていないユーザーを追加</option>
          </select>
        </div>
        <div class="col-6">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">追加</button>
    </form>
  </div>
</div><br><br>
<div class="card">
  <div class="card-header">
    <strong>アンフォローリスト一覧</strong>
  </div>
  <div class="card-body">

  </div>
</div>
